@model TopicViewModel

<h2>Topic</h2>
<ul>
  <li>Id: @Model.Id</li>
  <li>Key: @Model.Key</li>
  <li>ContentType: @Model.ContentType</li>
  <li>UniqueKey: @Model.UniqueKey</li>
  <li>WebPath: @Model.WebPath</li>
  <li>LastModified: @Model.LastModified</li>
  <li>View: @Model.View</li>
</ul>

<!--
  Content Type: TopicViewModel
  View Location: ~/Views/Shared/_TopicAttributes.cshtml
-->